{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
Products Detail Page
{% endblock %}
{% block content %}

<div class="container my-5">
    <div class=" ">
      <div class="row">
        <aside class="col-sm-5 border-right">
          <article class="gallery-wrap">
            <div class=" ">
              <a href="#"><img src="/media/{{ object.mainimage }}" style="width:450px;" ></a>
  
            </div>
          </article>
        </aside>
  
      <aside class="col-sm-7">
        <article class="card-body p-5">
          <h3 class=" ">{{ object.name }}</h3>
          <p class=" ">
            <span class="price h3 text-warning">
              <span class="">USD $ </span>
              <span class=""> {{ object.price }}</span>
            </span>
          </p>
  
          <dl class="item-property">
  
            <dt>Category Name</dt>
          <font color="red">  <b>{{ object.category }}</b></font>
          <dt>Crop Name</dt>
        <font color="green">  <b>{{ object.crop_name }}</b></font>
  <br><br>
            <dt>Short Description</dt>
            <dd>
              <p> {{ object.preview_text|linebreaks }}</p>
            </dd>
          </dl>
  <a href="{% url 'Order:add' pk=object.pk %}" class="btn btn-lg btn-outline-primary text-uppercase">
  <i class="fa fa-shopping-cart"></i> Add To Cart</a>
  
  
        </article>
      </aside>
      <dt>Description</dt>
    <p><h4> {{ object.detail_text|linebreaks }}</h4> </p><br><br>
    <br><br>
      </div>
    </div>
  </div>



{% endblock %}