{% extends 'layout.html' %}
{% load static %}
{% block title %}Detail Wasteage {% endblock %}

{% block css %}

<style>
    .leftcolumn{  
        width: 800px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #d9e5e7;  
        border-radius: 15px ;  
          
      }  
      
      
      /* Fake image */
      .fakeimg {
        
        width: 100%;
        padding: 20px;
      }
      


</style>


{% endblock %}
{% block content %}

<br><br>

<div class="row">
   
  <div class="leftcolumn">
    
      <center><h2> {{ object.title }} </h2></center>
      <div class="fakeimg" ><img src="/media/{{ object.image }}" alt="{{ object.title }}" title="{{ object.title }}" width="100%"></div>
      <p><b>Caption:</b> {{ object.caption }} </p>
      <label><b>Location: </b> </label>{{ object.location }}
      
      <br/>
      <label><b>Pincode: </b> </label>{{ object.pincode }} 
      
      <br/>
      <label><b>Posted by: </b> </label> {{ object.user }}
      
      <br/>
      <label><b>Date: </b> </label> {{ object.post_date }}<br>
      <a href="{% url 'waste:delete_waste' pk=object.pk %}" class="btn btn-warning btn-sm">Delete</a>
      <h6><font color="red"><i>Delete post if it has collected !! </i></font> </h6>
  </div>
  
</div><br/>

{% endblock %}
